@import "shared.rasi"


window { // ???
  width: 1000px;
}


listview { // list container
  lines: 3;
  columns: 5;
  flow: horizontal;
}

entry {
  placeholder: "Choose wallpaper";
}

element {
  orientation: vertical;
}

element-text {
  horizontal-align: 0.5;
}

element-icon {
  size: 200px;
}
